<div class="container">
  <div class="row">
    <div class="col-md-1 order-2 quick-nav-tab">
      <ul class="nav-list">
        <li class="nav-list-item"><a class="nav-link" href="home#component">Création d'un composant simple</a></li>
        <li class="nav-list-item"><a class="nav-link" href="home#module">Création d'un module</a></li>
        <li class="nav-list-item"><a class="nav-link" href="home#routing">Routing</a></li>
        <li class="nav-list-item"><a class="nav-link" href="home#dataBinding">Data Binding</a></li>
        <li class="nav-list-item"><a class="nav-link" href="home#service">Marker et service</a></li>
        <li class="nav-list-item"><a class="nav-link" href="home#googlePlaces">Google Places</a></li>
      </ul>
    </div>
    <div class="course-content col-md-11 order-1">
      <p>
        L'installation du projet est maintenant finie. Vous voila donc prets à commencer a coder. Le but de ce cours est de vous faire découvrir la magie d'Angular en créant une application utilisant l'API de google afin d'afficher et d'interragir avec une carte.
      </p>
      <p>
        Vous trouverez une liste de liens utiles ainsi que des informations sur l'API de google dans la partie droite du header. Je vous recommande notamment de garder la "Cheat sheet" d'Angular sous le coude pour ce cours. Page très utile qui regroupe les propriétés les plus importantes d'Angular.
      </p>

      <p><a href="https://github.com/MiniZimmy/AngularMap/tree/2c79edcc9be5bbaf09ae1b5ba81ed3862b0265a8">Repo at this point</a></p>

      <component-section></component-section>

      <module-section></module-section>

      <routing-section></routing-section>

      <data-binding-section></data-binding-section>

      <markers-section></markers-section>

      <places-section></places-section>

      <ihm-section-title id="last" title="Pour les plus rapides"></ihm-section-title>
      <p>
        Il reste encore beaucoup de features a implémenter et vous avez maintenant toutes les cartes en mains pour le faire.
        Par exemple, il est pour le moment possible de créer des marqueurs mais nous n'avons aucun moyen de les gérer.
        Une idée d'amélioration serait d'afficher une liste de tous nos marqueurs pour pouvoir les modifier, les supprimer ... <br>
        Il reste aussi énormément de services fournis par Google qui permettent de jouer avec les cartes, découvrez les!
      </p>

      <ihm-section-title id="last" title="Pour aller plus loin"></ihm-section-title>
      <p class="inline" Markdown>
        Il reste encore bien des choses à découvrir dans Angular et RxJS. Pour en voir une petite partie avec cette application,
        on peut mettre en place un [Store](https://github.com/ngrx/store) qui contiendrait nos marqueurs et places à afficher.
      </p>
    </div>
  </div>
</div>