$site-primary-color: #E3AC34;
$site-secondary-color: #5bc0de;
$site-background-color: #f4f4f4;
$site-text-color: #343434;

$header-background-color: #272727;
$header-color: white;

$button-background-color: $site-secondary-color;